.form-d{
display: flex;
flex-direction: column;
justify-content: center;
/* width: 400px; */
flex-wrap: wrap;
align-items: center;
gap:20px

}
.label{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.container-card{
    padding: 15px;
    /* width:400px; */
    gap:20px;
    /* box-shadow: 1px,2px,2px black; */
}
.form-d input{
width:400px;
height: 20px;
padding: 10px;
}

.Atm-section{
    width:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:1px 5px 8px #162742;
    border-radius: 8px;
    height: auto;
}

.pay-but{
    width:100%;
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #162742;
    color: white;
}

.pay-but-card{
    width:100%;
    height:40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1b66df;
    color: white;

}
.payment{
    width: 500px;
    height:50px;
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-style:outset;
    gap:10px;

    border-bottom-color:0.2px black ;
}
@media screen and (max-width: 1000px)  {
    .Atm-section{
        width:300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow:1px 5px 8px #162742;
        border-radius: 20px;
    } 
    
    .form-d input{
        width:270px;
        height: 40px;
        }


        .pay-but-card{
            width:270;
            height:40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: #1b66df;
            color: white;
        
        }    }