.total-comp{
    width:500px;
    height: 100px;
    box-shadow: 3px 5px 8px black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}